html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: indigo;
	&:after{
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: url('imgs/Twitch_White_RGB.png') no-repeat;
		background-position: center bottom;
		background-attachment: fixed;
		opacity: 0.4;
		z-index: -1;
		transform: rotate(25deg);
	}
	header{
		h1{
			color: AliceBlue;
			position: relative;
			text-align: center;
			font-family: 'Federica the Great', cursive;
			font-size: 4rem;
			span{
				margin-right: 1.2rem;
				color: AliceBlue;
				-webkit-animation: ghost 3s alternate infinite;
				-moz-animation: ghost 3s alternate infinite;
         		-o-animation: ghost 3s alternate infinite; 
         		animation: ghost 3s alternate infinite;
			}
		}
	}
	nav{
		padding: 0 5%;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			#active{
				background: indigo;
				-webkit-box-shadow: 0px 0px 43px 0px rgba(233,240,17,1);
				-moz-box-shadow: 0px 0px 43px 0px rgba(233,240,17,1);
				box-shadow: 0px 0px 43px 0px rgba(233,240,17,1);
				button{
					color: white;
					span{
						margin-left: 1rem;
					}
				}
			}
			li:nth-child(1){
				background: DarkTurquoise;
			}

			li:nth-child(2){
				background: LimeGreen;
			}

			li:nth-child(3){
				background: Tomato;
			}
			li{
				position: relative;
				overflow: hidden;
				z-index: 1;
				font-size: 2rem;
				flex: 1;
				margin: 0.3rem;
				text-align: center;
				background: red;
				border: white 0.2rem solid;
				-webkit-transform: skew(20deg);
	  			-moz-transform: skew(20deg);
	     		-o-transform: skew(20deg);
				transition: 0.2s;
				&:after{
					content: '';
				    position: absolute;
				    display: block;
				    top: 0;
				    left: 50%;
				    transform: translateX(-50%);
				    width: 0;
				    height: 100%;
				    background: BurlyWood;
				    z-index: -1;
				    transition: width 0.2s ease-in-out;
				}
				&:hover:after{
					width: 110%;
				}
				button{
					padding: 1rem;
					display: block;
					font-family: 'Federica the Great', cursive;
					width: 100%;
					outline: none;
					border: none;
					text-align: center;
					background: none;
					margin: 0;
					font-size: 2rem;
					font-weight: 500;
					-webkit-transform: skew(-20deg);
	  				-moz-transform: skew(-20deg);
	     			-o-transform: skew(-20deg);
	     			&:hover{
	     				cursor: pointer;
	     				color: white;
	     				transition: 0.4s;
	     			}
				}
				
			}
		}
	}
	article{
		padding: 3rem;
		.list-wrapper{
			width: 60%;
			margin: 0 auto;
			background: rgba(250,250,250,0.1);
			border-radius: 0.7rem;
			padding: 2rem;
			ul{
				list-style-type: none;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
					.sortedOut{
						display: none !important;
					}
				li{
					overflow: none;
					color: black;
					position: relative;
					width: 60%;
					margin: 0.8rem 0 0.8rem 0;
					padding: 2rem 1rem;
					display: flex;
					justify-content: flex-start;
					transition: 0.4s;
					-webkit-box-shadow: 0px 0px 49px 4px rgba(0,0,0,0.75);
					-moz-box-shadow: 0px 0px 49px 4px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 49px 4px rgba(0,0,0,0.75);
					a{
						display: flex;
						justify-content: flex-start;
						width: 100%;
						height: 100%;
						text-decoration: none;
						color: black;
						z-index: 3;
						.portrait{
							margin-right: 5rem;
							border: 0.2rem beige solid;
							width: 8.5rem;
							height: 8.5rem;
							border-radius: 50%;
							box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
						}
						.item{
							background: none;
							padding: 0 0 0 .8rem;
							text-align: center;
							height: 100%;
							h5{
								font-family: 'Federica the Great', cursive;
								margin-top: 0.5rem;
								margin-bottom: 0.5rem;
								font-size: 2rem;
							}
							p{
								padding: 0 0.5rem;
								font-size: 1.6rem;
								font-family: 'Josefin Slab', serif;
								font-weight: 600;
							}
						}
					}
					.activness{
						position: absolute;
						right: 0;
						top: 25%;
						background: none;
						border-radius: .5rem;
						z-index: 10;
						width: 6rem;
						height: 3rem;
						transform: translateY(-50%);
						text-align: center;
						img{
							height: 100%;
							width: 100%;
						}
						p{
							text-transform: uppercase;
							font-family: "Josefin Slab", serif;
							font-size: 1.4rem;
							font-weight: 700;
						}
					}
					&:before, &:after{
						content: "";
						z-index: 0;
						position: absolute;
						width: 8%;
						min-height: 100%;
	     				transition: 0.4s;
					}
					&:after{
						top: 0;
						right: -5%;	     				
					}
					&:before{
						top: 0;
						left: -5%;	     				
					}
					

					&:nth-child(odd){
						&:before, &:after{
							-webkit-transform: skew(5deg);
		  					-moz-transform: skew(5deg);
		     				-o-transform: skew(5deg);
		     				transition: 0.4s;
						}
		     			
					}
					&:nth-child(even){
						&:before, &:after{	
							-webkit-transform: skew(-5deg);
		  					-moz-transform: skew(-5deg);
		     				-o-transform: skew(-5deg);
						}
					}
					&:hover{
	     				&:after, &:before{
							-webkit-transform: skew(0deg);
	  						-moz-transform: skew(0deg);
	     					-o-transform: skew(0deg);
	     					background: AliceBlue;
	     				}
	     				background: AliceBlue;
	     			}
				}
				.online{
					background: lightgreen;
					&:before, &:after{
						background: lightgreen;
					}
				}
				.offline{
					background: tomato;
					&:before, &:after{
						background: tomato;
					}

				}

			}
		}

	}
	
}
@-webkit-keyframes ghost {
    from {color: aqua;}
    to   {color: AliceBlue;}
}

@-moz-keyframes ghost {
    from {color: aqua;}
    to   {color: AliceBlue;}
}

@-o-keyframes ghost {
    from {color: aqua;}
    to   {color: AliceBlue;}
}

@keyframes ghost {
    from { color: aqua;}
    to   { color: AliceBlue;}
}
